.aetherui-color-text-primary {
  color: var(--aetherui-color-text-primary);
}

.aetherui-color-text-secondary {
  color: var(--aetherui-color-text-secondary);
}

.aetherui-color-text-error {
  color: var(--aetherui-color-text-error);
}

.aetherui-color-text-disabled {
  color: var(--aetherui-color-text-disabled);
}

.aetherui-text-color-error {
  color: var(--aetherui-color-text-error);
}

.aetherui-text-color-success {
  color: var(--aetherui-color-text-success);
}

.aetherui-text-color-warning {
  color: var(--aetherui-color-text-warning);
}

.aetherui-color-bg-base {
  background: var(--aetherui-color-bg-base);
}

.aetherui-text-color-black {
  color: var(--aetherui-common-color-black);
}

.aetherui-bg-color-black {
  background-color: var(--aetherui-common-color-black);
}

.aetherui-text-color-white {
  color: var(--aetherui-common-color-white);
}

.aetherui-bg-color-white {
  background-color: var(--aetherui-common-color-white);
}

.aetherui-text-color-red {
  color: var(--aetherui-common-color-red);
}

.aetherui-bg-color-red {
  background-color: var(--aetherui-common-color-red);
}

.aetherui-text-color-lime {
  color: var(--aetherui-common-color-lime);
}

.aetherui-bg-color-lime {
  background-color: var(--aetherui-common-color-lime);
}

.aetherui-text-color-blue {
  color: var(--aetherui-common-color-blue);
}

.aetherui-bg-color-blue {
  background-color: var(--aetherui-common-color-blue);
}

.aetherui-text-color-yellow {
  color: var(--aetherui-common-color-yellow);
}

.aetherui-bg-color-yellow {
  background-color: var(--aetherui-common-color-yellow);
}

.aetherui-text-color-cyan {
  color: var(--aetherui-common-color-cyan);
}

.aetherui-bg-color-cyan {
  background-color: var(--aetherui-common-color-cyan);
}

.aetherui-text-color-magenta {
  color: var(--aetherui-common-color-magenta);
}

.aetherui-bg-color-magenta {
  background-color: var(--aetherui-common-color-magenta);
}

.aetherui-text-color-silver {
  color: var(--aetherui-common-color-silver);
}

.aetherui-bg-color-silver {
  background-color: var(--aetherui-common-color-silver);
}

.aetherui-text-color-gray {
  color: var(--aetherui-common-color-gray);
}

.aetherui-bg-color-gray {
  background-color: var(--aetherui-common-color-gray);
}

.aetherui-text-color-maroon {
  color: var(--aetherui-common-color-maroon);
}

.aetherui-bg-color-maroon {
  background-color: var(--aetherui-common-color-maroon);
}

.aetherui-text-color-olive {
  color: var(--aetherui-common-color-olive);
}

.aetherui-bg-color-olive {
  background-color: var(--aetherui-common-color-olive);
}

.aetherui-text-color-green {
  color: var(--aetherui-common-color-green);
}

.aetherui-bg-color-green {
  background-color: var(--aetherui-common-color-green);
}

.aetherui-text-color-purple {
  color: var(--aetherui-common-color-purple);
}

.aetherui-bg-color-purple {
  background-color: var(--aetherui-common-color-purple);
}

.aetherui-text-color-teal {
  color: var(--aetherui-common-color-teal);
}

.aetherui-bg-color-teal {
  background-color: var(--aetherui-common-color-teal);
}

.aetherui-text-color-navy {
  color: var(--aetherui-common-color-navy);
}

.aetherui-bg-color-navy {
  background-color: var(--aetherui-common-color-navy);
}

.aetherui-text-color-orange {
  color: var(--aetherui-common-color-orange);
}

.aetherui-bg-color-orange {
  background-color: var(--aetherui-common-color-orange);
}

.aetherui-text-color-aliceblue {
  color: var(--aetherui-common-color-aliceblue);
}

.aetherui-bg-color-aliceblue {
  background-color: var(--aetherui-common-color-aliceblue);
}

.aetherui-text-color-antiquewhite {
  color: var(--aetherui-common-color-antiquewhite);
}

.aetherui-bg-color-antiquewhite {
  background-color: var(--aetherui-common-color-antiquewhite);
}

.aetherui-text-color-aqua {
  color: var(--aetherui-common-color-aqua);
}

.aetherui-bg-color-aqua {
  background-color: var(--aetherui-common-color-aqua);
}

.aetherui-text-color-aquamarine {
  color: var(--aetherui-common-color-aquamarine);
}

.aetherui-bg-color-aquamarine {
  background-color: var(--aetherui-common-color-aquamarine);
}

.aetherui-text-color-azure {
  color: var(--aetherui-common-color-azure);
}

.aetherui-bg-color-azure {
  background-color: var(--aetherui-common-color-azure);
}

.aetherui-text-color-beige {
  color: var(--aetherui-common-color-beige);
}

.aetherui-bg-color-beige {
  background-color: var(--aetherui-common-color-beige);
}

.aetherui-text-color-bisque {
  color: var(--aetherui-common-color-bisque);
}

.aetherui-bg-color-bisque {
  background-color: var(--aetherui-common-color-bisque);
}

.aetherui-text-color-blanchedalmond {
  color: var(--aetherui-common-color-blanchedalmond);
}

.aetherui-bg-color-blanchedalmond {
  background-color: var(--aetherui-common-color-blanchedalmond);
}

.aetherui-text-color-blueviolet {
  color: var(--aetherui-common-color-blueviolet);
}

.aetherui-bg-color-blueviolet {
  background-color: var(--aetherui-common-color-blueviolet);
}

.aetherui-text-color-brown {
  color: var(--aetherui-common-color-brown);
}

.aetherui-bg-color-brown {
  background-color: var(--aetherui-common-color-brown);
}

.aetherui-text-color-burlywood {
  color: var(--aetherui-common-color-burlywood);
}

.aetherui-bg-color-burlywood {
  background-color: var(--aetherui-common-color-burlywood);
}

.aetherui-text-color-cadetblue {
  color: var(--aetherui-common-color-cadetblue);
}

.aetherui-bg-color-cadetblue {
  background-color: var(--aetherui-common-color-cadetblue);
}

.aetherui-text-color-chartreuse {
  color: var(--aetherui-common-color-chartreuse);
}

.aetherui-bg-color-chartreuse {
  background-color: var(--aetherui-common-color-chartreuse);
}

.aetherui-text-color-chocolate {
  color: var(--aetherui-common-color-chocolate);
}

.aetherui-bg-color-chocolate {
  background-color: var(--aetherui-common-color-chocolate);
}

.aetherui-text-color-coral {
  color: var(--aetherui-common-color-coral);
}

.aetherui-bg-color-coral {
  background-color: var(--aetherui-common-color-coral);
}

.aetherui-text-color-cornflowerblue {
  color: var(--aetherui-common-color-cornflowerblue);
}

.aetherui-bg-color-cornflowerblue {
  background-color: var(--aetherui-common-color-cornflowerblue);
}

.aetherui-text-color-cornsilk {
  color: var(--aetherui-common-color-cornsilk);
}

.aetherui-bg-color-cornsilk {
  background-color: var(--aetherui-common-color-cornsilk);
}

.aetherui-text-color-crimson {
  color: var(--aetherui-common-color-crimson);
}

.aetherui-bg-color-crimson {
  background-color: var(--aetherui-common-color-crimson);
}

.aetherui-text-color-darkblue {
  color: var(--aetherui-common-color-darkblue);
}

.aetherui-bg-color-darkblue {
  background-color: var(--aetherui-common-color-darkblue);
}

.aetherui-text-color-darkcyan {
  color: var(--aetherui-common-color-darkcyan);
}

.aetherui-bg-color-darkcyan {
  background-color: var(--aetherui-common-color-darkcyan);
}

.aetherui-text-color-darkgoldenrod {
  color: var(--aetherui-common-color-darkgoldenrod);
}

.aetherui-bg-color-darkgoldenrod {
  background-color: var(--aetherui-common-color-darkgoldenrod);
}

.aetherui-text-color-darkgray {
  color: var(--aetherui-common-color-darkgray);
}

.aetherui-bg-color-darkgray {
  background-color: var(--aetherui-common-color-darkgray);
}

.aetherui-text-color-darkgreen {
  color: var(--aetherui-common-color-darkgreen);
}

.aetherui-bg-color-darkgreen {
  background-color: var(--aetherui-common-color-darkgreen);
}

.aetherui-text-color-darkkhaki {
  color: var(--aetherui-common-color-darkkhaki);
}

.aetherui-bg-color-darkkhaki {
  background-color: var(--aetherui-common-color-darkkhaki);
}

.aetherui-text-color-darkmagenta {
  color: var(--aetherui-common-color-darkmagenta);
}

.aetherui-bg-color-darkmagenta {
  background-color: var(--aetherui-common-color-darkmagenta);
}

.aetherui-text-color-darkolivegreen {
  color: var(--aetherui-common-color-darkolivegreen);
}

.aetherui-bg-color-darkolivegreen {
  background-color: var(--aetherui-common-color-darkolivegreen);
}

.aetherui-text-color-darkorange {
  color: var(--aetherui-common-color-darkorange);
}

.aetherui-bg-color-darkorange {
  background-color: var(--aetherui-common-color-darkorange);
}

.aetherui-text-color-darkorchid {
  color: var(--aetherui-common-color-darkorchid);
}

.aetherui-bg-color-darkorchid {
  background-color: var(--aetherui-common-color-darkorchid);
}

.aetherui-text-color-darkred {
  color: var(--aetherui-common-color-darkred);
}

.aetherui-bg-color-darkred {
  background-color: var(--aetherui-common-color-darkred);
}

.aetherui-text-color-darksalmon {
  color: var(--aetherui-common-color-darksalmon);
}

.aetherui-bg-color-darksalmon {
  background-color: var(--aetherui-common-color-darksalmon);
}

.aetherui-text-color-darkseagreen {
  color: var(--aetherui-common-color-darkseagreen);
}

.aetherui-bg-color-darkseagreen {
  background-color: var(--aetherui-common-color-darkseagreen);
}

.aetherui-text-color-darkslateblue {
  color: var(--aetherui-common-color-darkslateblue);
}

.aetherui-bg-color-darkslateblue {
  background-color: var(--aetherui-common-color-darkslateblue);
}

.aetherui-text-color-darkslategray {
  color: var(--aetherui-common-color-darkslategray);
}

.aetherui-bg-color-darkslategray {
  background-color: var(--aetherui-common-color-darkslategray);
}

.aetherui-text-color-darkturquoise {
  color: var(--aetherui-common-color-darkturquoise);
}

.aetherui-bg-color-darkturquoise {
  background-color: var(--aetherui-common-color-darkturquoise);
}

.aetherui-text-color-darkviolet {
  color: var(--aetherui-common-color-darkviolet);
}

.aetherui-bg-color-darkviolet {
  background-color: var(--aetherui-common-color-darkviolet);
}

.aetherui-text-color-deeppink {
  color: var(--aetherui-common-color-deeppink);
}

.aetherui-bg-color-deeppink {
  background-color: var(--aetherui-common-color-deeppink);
}

.aetherui-text-color-deepskyblue {
  color: var(--aetherui-common-color-deepskyblue);
}

.aetherui-bg-color-deepskyblue {
  background-color: var(--aetherui-common-color-deepskyblue);
}

.aetherui-text-color-dimgray {
  color: var(--aetherui-common-color-dimgray);
}

.aetherui-bg-color-dimgray {
  background-color: var(--aetherui-common-color-dimgray);
}

.aetherui-text-color-dodgerblue {
  color: var(--aetherui-common-color-dodgerblue);
}

.aetherui-bg-color-dodgerblue {
  background-color: var(--aetherui-common-color-dodgerblue);
}

.aetherui-text-color-firebrick {
  color: var(--aetherui-common-color-firebrick);
}

.aetherui-bg-color-firebrick {
  background-color: var(--aetherui-common-color-firebrick);
}

.aetherui-text-color-floralwhite {
  color: var(--aetherui-common-color-floralwhite);
}

.aetherui-bg-color-floralwhite {
  background-color: var(--aetherui-common-color-floralwhite);
}

.aetherui-text-color-forestgreen {
  color: var(--aetherui-common-color-forestgreen);
}

.aetherui-bg-color-forestgreen {
  background-color: var(--aetherui-common-color-forestgreen);
}

.aetherui-text-color-fuchsia {
  color: var(--aetherui-common-color-fuchsia);
}

.aetherui-bg-color-fuchsia {
  background-color: var(--aetherui-common-color-fuchsia);
}

.aetherui-text-color-gainsboro {
  color: var(--aetherui-common-color-gainsboro);
}

.aetherui-bg-color-gainsboro {
  background-color: var(--aetherui-common-color-gainsboro);
}

.aetherui-text-color-ghostwhite {
  color: var(--aetherui-common-color-ghostwhite);
}

.aetherui-bg-color-ghostwhite {
  background-color: var(--aetherui-common-color-ghostwhite);
}

.aetherui-text-color-gold {
  color: var(--aetherui-common-color-gold);
}

.aetherui-bg-color-gold {
  background-color: var(--aetherui-common-color-gold);
}

.aetherui-text-color-goldenrod {
  color: var(--aetherui-common-color-goldenrod);
}

.aetherui-bg-color-goldenrod {
  background-color: var(--aetherui-common-color-goldenrod);
}

.aetherui-text-color-greenyellow {
  color: var(--aetherui-common-color-greenyellow);
}

.aetherui-bg-color-greenyellow {
  background-color: var(--aetherui-common-color-greenyellow);
}

.aetherui-text-color-honeydew {
  color: var(--aetherui-common-color-honeydew);
}

.aetherui-bg-color-honeydew {
  background-color: var(--aetherui-common-color-honeydew);
}

.aetherui-text-color-hotpink {
  color: var(--aetherui-common-color-hotpink);
}

.aetherui-bg-color-hotpink {
  background-color: var(--aetherui-common-color-hotpink);
}

.aetherui-text-color-indianred {
  color: var(--aetherui-common-color-indianred);
}

.aetherui-bg-color-indianred {
  background-color: var(--aetherui-common-color-indianred);
}

.aetherui-text-color-indigo {
  color: var(--aetherui-common-color-indigo);
}

.aetherui-bg-color-indigo {
  background-color: var(--aetherui-common-color-indigo);
}

.aetherui-text-color-ivory {
  color: var(--aetherui-common-color-ivory);
}

.aetherui-bg-color-ivory {
  background-color: var(--aetherui-common-color-ivory);
}

.aetherui-text-color-khaki {
  color: var(--aetherui-common-color-khaki);
}

.aetherui-bg-color-khaki {
  background-color: var(--aetherui-common-color-khaki);
}

.aetherui-text-color-lavender {
  color: var(--aetherui-common-color-lavender);
}

.aetherui-bg-color-lavender {
  background-color: var(--aetherui-common-color-lavender);
}

.aetherui-text-color-lavenderblush {
  color: var(--aetherui-common-color-lavenderblush);
}

.aetherui-bg-color-lavenderblush {
  background-color: var(--aetherui-common-color-lavenderblush);
}

.aetherui-text-color-lawngreen {
  color: var(--aetherui-common-color-lawngreen);
}

.aetherui-bg-color-lawngreen {
  background-color: var(--aetherui-common-color-lawngreen);
}

.aetherui-text-color-lemonchiffon {
  color: var(--aetherui-common-color-lemonchiffon);
}

.aetherui-bg-color-lemonchiffon {
  background-color: var(--aetherui-common-color-lemonchiffon);
}

.aetherui-text-color-lightblue {
  color: var(--aetherui-common-color-lightblue);
}

.aetherui-bg-color-lightblue {
  background-color: var(--aetherui-common-color-lightblue);
}

.aetherui-text-color-lightcoral {
  color: var(--aetherui-common-color-lightcoral);
}

.aetherui-bg-color-lightcoral {
  background-color: var(--aetherui-common-color-lightcoral);
}

.aetherui-text-color-lightcyan {
  color: var(--aetherui-common-color-lightcyan);
}

.aetherui-bg-color-lightcyan {
  background-color: var(--aetherui-common-color-lightcyan);
}

.aetherui-text-color-lightgoldenrodyellow {
  color: var(--aetherui-common-color-lightgoldenrodyellow);
}

.aetherui-bg-color-lightgoldenrodyellow {
  background-color: var(--aetherui-common-color-lightgoldenrodyellow);
}

.aetherui-text-color-lightgray {
  color: var(--aetherui-common-color-lightgray);
}

.aetherui-bg-color-lightgray {
  background-color: var(--aetherui-common-color-lightgray);
}

.aetherui-text-color-lightgreen {
  color: var(--aetherui-common-color-lightgreen);
}

.aetherui-bg-color-lightgreen {
  background-color: var(--aetherui-common-color-lightgreen);
}

.aetherui-text-color-lightpink {
  color: var(--aetherui-common-color-lightpink);
}

.aetherui-bg-color-lightpink {
  background-color: var(--aetherui-common-color-lightpink);
}

.aetherui-text-color-lightsalmon {
  color: var(--aetherui-common-color-lightsalmon);
}

.aetherui-bg-color-lightsalmon {
  background-color: var(--aetherui-common-color-lightsalmon);
}

.aetherui-text-color-lightseagreen {
  color: var(--aetherui-common-color-lightseagreen);
}

.aetherui-bg-color-lightseagreen {
  background-color: var(--aetherui-common-color-lightseagreen);
}

.aetherui-text-color-lightskyblue {
  color: var(--aetherui-common-color-lightskyblue);
}

.aetherui-bg-color-lightskyblue {
  background-color: var(--aetherui-common-color-lightskyblue);
}

.aetherui-text-color-lightslategray {
  color: var(--aetherui-common-color-lightslategray);
}

.aetherui-bg-color-lightslategray {
  background-color: var(--aetherui-common-color-lightslategray);
}

.aetherui-text-color-lightsteelblue {
  color: var(--aetherui-common-color-lightsteelblue);
}

.aetherui-bg-color-lightsteelblue {
  background-color: var(--aetherui-common-color-lightsteelblue);
}

.aetherui-text-color-lightyellow {
  color: var(--aetherui-common-color-lightyellow);
}

.aetherui-bg-color-lightyellow {
  background-color: var(--aetherui-common-color-lightyellow);
}

.aetherui-text-color-limegreen {
  color: var(--aetherui-common-color-limegreen);
}

.aetherui-bg-color-limegreen {
  background-color: var(--aetherui-common-color-limegreen);
}

.aetherui-text-color-linen {
  color: var(--aetherui-common-color-linen);
}

.aetherui-bg-color-linen {
  background-color: var(--aetherui-common-color-linen);
}

.aetherui-text-color-mediumaquamarine {
  color: var(--aetherui-common-color-mediumaquamarine);
}

.aetherui-bg-color-mediumaquamarine {
  background-color: var(--aetherui-common-color-mediumaquamarine);
}

.aetherui-text-color-mediumblue {
  color: var(--aetherui-common-color-mediumblue);
}

.aetherui-bg-color-mediumblue {
  background-color: var(--aetherui-common-color-mediumblue);
}

.aetherui-text-color-mediumorchid {
  color: var(--aetherui-common-color-mediumorchid);
}

.aetherui-bg-color-mediumorchid {
  background-color: var(--aetherui-common-color-mediumorchid);
}

.aetherui-text-color-mediumpurple {
  color: var(--aetherui-common-color-mediumpurple);
}

.aetherui-bg-color-mediumpurple {
  background-color: var(--aetherui-common-color-mediumpurple);
}

.aetherui-text-color-mediumseagreen {
  color: var(--aetherui-common-color-mediumseagreen);
}

.aetherui-bg-color-mediumseagreen {
  background-color: var(--aetherui-common-color-mediumseagreen);
}

.aetherui-text-color-mediumslateblue {
  color: var(--aetherui-common-color-mediumslateblue);
}

.aetherui-bg-color-mediumslateblue {
  background-color: var(--aetherui-common-color-mediumslateblue);
}

.aetherui-text-color-mediumspringgreen {
  color: var(--aetherui-common-color-mediumspringgreen);
}

.aetherui-bg-color-mediumspringgreen {
  background-color: var(--aetherui-common-color-mediumspringgreen);
}

.aetherui-text-color-mediumturquoise {
  color: var(--aetherui-common-color-mediumturquoise);
}

.aetherui-bg-color-mediumturquoise {
  background-color: var(--aetherui-common-color-mediumturquoise);
}

.aetherui-text-color-mediumvioletred {
  color: var(--aetherui-common-color-mediumvioletred);
}

.aetherui-bg-color-mediumvioletred {
  background-color: var(--aetherui-common-color-mediumvioletred);
}

.aetherui-text-color-midnightblue {
  color: var(--aetherui-common-color-midnightblue);
}

.aetherui-bg-color-midnightblue {
  background-color: var(--aetherui-common-color-midnightblue);
}

.aetherui-text-color-mintcream {
  color: var(--aetherui-common-color-mintcream);
}

.aetherui-bg-color-mintcream {
  background-color: var(--aetherui-common-color-mintcream);
}

.aetherui-text-color-mistyrose {
  color: var(--aetherui-common-color-mistyrose);
}

.aetherui-bg-color-mistyrose {
  background-color: var(--aetherui-common-color-mistyrose);
}

.aetherui-text-color-moccasin {
  color: var(--aetherui-common-color-moccasin);
}

.aetherui-bg-color-moccasin {
  background-color: var(--aetherui-common-color-moccasin);
}

.aetherui-text-color-navajowhite {
  color: var(--aetherui-common-color-navajowhite);
}

.aetherui-bg-color-navajowhite {
  background-color: var(--aetherui-common-color-navajowhite);
}

.aetherui-text-color-oldlace {
  color: var(--aetherui-common-color-oldlace);
}

.aetherui-bg-color-oldlace {
  background-color: var(--aetherui-common-color-oldlace);
}

.aetherui-text-color-olivedrab {
  color: var(--aetherui-common-color-olivedrab);
}

.aetherui-bg-color-olivedrab {
  background-color: var(--aetherui-common-color-olivedrab);
}

.aetherui-text-color-orangered {
  color: var(--aetherui-common-color-orangered);
}

.aetherui-bg-color-orangered {
  background-color: var(--aetherui-common-color-orangered);
}

.aetherui-text-color-orchid {
  color: var(--aetherui-common-color-orchid);
}

.aetherui-bg-color-orchid {
  background-color: var(--aetherui-common-color-orchid);
}

.aetherui-text-color-palegoldenrod {
  color: var(--aetherui-common-color-palegoldenrod);
}

.aetherui-bg-color-palegoldenrod {
  background-color: var(--aetherui-common-color-palegoldenrod);
}

.aetherui-text-color-palegreen {
  color: var(--aetherui-common-color-palegreen);
}

.aetherui-bg-color-palegreen {
  background-color: var(--aetherui-common-color-palegreen);
}

.aetherui-text-color-paleturquoise {
  color: var(--aetherui-common-color-paleturquoise);
}

.aetherui-bg-color-paleturquoise {
  background-color: var(--aetherui-common-color-paleturquoise);
}

.aetherui-text-color-palevioletred {
  color: var(--aetherui-common-color-palevioletred);
}

.aetherui-bg-color-palevioletred {
  background-color: var(--aetherui-common-color-palevioletred);
}

.aetherui-text-color-papayawhip {
  color: var(--aetherui-common-color-papayawhip);
}

.aetherui-bg-color-papayawhip {
  background-color: var(--aetherui-common-color-papayawhip);
}

.aetherui-text-color-peachpuff {
  color: var(--aetherui-common-color-peachpuff);
}

.aetherui-bg-color-peachpuff {
  background-color: var(--aetherui-common-color-peachpuff);
}

.aetherui-text-color-peru {
  color: var(--aetherui-common-color-peru);
}

.aetherui-bg-color-peru {
  background-color: var(--aetherui-common-color-peru);
}

.aetherui-text-color-pink {
  color: var(--aetherui-common-color-pink);
}

.aetherui-bg-color-pink {
  background-color: var(--aetherui-common-color-pink);
}

.aetherui-text-color-plum {
  color: var(--aetherui-common-color-plum);
}

.aetherui-bg-color-plum {
  background-color: var(--aetherui-common-color-plum);
}

.aetherui-text-color-powderblue {
  color: var(--aetherui-common-color-powderblue);
}

.aetherui-bg-color-powderblue {
  background-color: var(--aetherui-common-color-powderblue);
}

.aetherui-text-color-rosybrown {
  color: var(--aetherui-common-color-rosybrown);
}

.aetherui-bg-color-rosybrown {
  background-color: var(--aetherui-common-color-rosybrown);
}

.aetherui-text-color-royalblue {
  color: var(--aetherui-common-color-royalblue);
}

.aetherui-bg-color-royalblue {
  background-color: var(--aetherui-common-color-royalblue);
}

.aetherui-text-color-saddlebrown {
  color: var(--aetherui-common-color-saddlebrown);
}

.aetherui-bg-color-saddlebrown {
  background-color: var(--aetherui-common-color-saddlebrown);
}

.aetherui-text-color-salmon {
  color: var(--aetherui-common-color-salmon);
}

.aetherui-bg-color-salmon {
  background-color: var(--aetherui-common-color-salmon);
}

.aetherui-text-color-sandybrown {
  color: var(--aetherui-common-color-sandybrown);
}

.aetherui-bg-color-sandybrown {
  background-color: var(--aetherui-common-color-sandybrown);
}

.aetherui-text-color-seagreen {
  color: var(--aetherui-common-color-seagreen);
}

.aetherui-bg-color-seagreen {
  background-color: var(--aetherui-common-color-seagreen);
}

.aetherui-text-color-seashell {
  color: var(--aetherui-common-color-seashell);
}

.aetherui-bg-color-seashell {
  background-color: var(--aetherui-common-color-seashell);
}

.aetherui-text-color-sienna {
  color: var(--aetherui-common-color-sienna);
}

.aetherui-bg-color-sienna {
  background-color: var(--aetherui-common-color-sienna);
}

.aetherui-text-color-skyblue {
  color: var(--aetherui-common-color-skyblue);
}

.aetherui-bg-color-skyblue {
  background-color: var(--aetherui-common-color-skyblue);
}

.aetherui-text-color-slateblue {
  color: var(--aetherui-common-color-slateblue);
}

.aetherui-bg-color-slateblue {
  background-color: var(--aetherui-common-color-slateblue);
}

.aetherui-text-color-slategray {
  color: var(--aetherui-common-color-slategray);
}

.aetherui-bg-color-slategray {
  background-color: var(--aetherui-common-color-slategray);
}

.aetherui-text-color-snow {
  color: var(--aetherui-common-color-snow);
}

.aetherui-bg-color-snow {
  background-color: var(--aetherui-common-color-snow);
}

.aetherui-text-color-springgreen {
  color: var(--aetherui-common-color-springgreen);
}

.aetherui-bg-color-springgreen {
  background-color: var(--aetherui-common-color-springgreen);
}

.aetherui-text-color-steelblue {
  color: var(--aetherui-common-color-steelblue);
}

.aetherui-bg-color-steelblue {
  background-color: var(--aetherui-common-color-steelblue);
}

.aetherui-text-color-tan {
  color: var(--aetherui-common-color-tan);
}

.aetherui-bg-color-tan {
  background-color: var(--aetherui-common-color-tan);
}

.aetherui-text-color-thistle {
  color: var(--aetherui-common-color-thistle);
}

.aetherui-bg-color-thistle {
  background-color: var(--aetherui-common-color-thistle);
}

.aetherui-text-color-tomato {
  color: var(--aetherui-common-color-tomato);
}

.aetherui-bg-color-tomato {
  background-color: var(--aetherui-common-color-tomato);
}

.aetherui-text-color-turquoise {
  color: var(--aetherui-common-color-turquoise);
}

.aetherui-bg-color-turquoise {
  background-color: var(--aetherui-common-color-turquoise);
}

.aetherui-text-color-violet {
  color: var(--aetherui-common-color-violet);
}

.aetherui-bg-color-violet {
  background-color: var(--aetherui-common-color-violet);
}

.aetherui-text-color-wheat {
  color: var(--aetherui-common-color-wheat);
}

.aetherui-bg-color-wheat {
  background-color: var(--aetherui-common-color-wheat);
}

.aetherui-text-color-whitesmoke {
  color: var(--aetherui-common-color-whitesmoke);
}

.aetherui-bg-color-whitesmoke {
  background-color: var(--aetherui-common-color-whitesmoke);
}

.aetherui-text-color-yellowgreen {
  color: var(--aetherui-common-color-yellowgreen);
}

.aetherui-bg-color-yellowgreen {
  background-color: var(--aetherui-common-color-yellowgreen);
}
